h1 {
    color: white;
    text-align: center;
}
.info{
    padding-left: 2%;
    text-align: center;
    padding-top: 2%;
    font-size: large;
    font-style: italic;
    color: black;


}