.picture-container{
    padding: 80%;
    border-radius: 80%;
}
.image-travel{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 0;
    flex-direction: row;

}
.image-content{
    width: 375%;
    margin: 70%;
}
.work-content{
    margin:auto;
    width: 80%;
}
.work-content section{
    padding-top: 10%;
    font-size: 175%;
    font-style: italic;

}
h2 {
    color: #d8b124;
    padding-left: 2%;
    font-size: 2.75rem;
    font-style: italic;
    padding-top: 1%;
}h1 {
    color: #d8b124;
    text-align: center;
    
}
h3 {
    color: #d8b124;
    font-weight: bold;
    padding-left: 2%;
    font-size: 2.75rem;
    font-style: italic;
    padding-top: 1%;
}
h4 {
    color: #d8b124;
    font-weight: bold;
    padding-left: 2%;
    font-size: 2.75rem;
    font-style: italic;
    padding-top: 1%;
}